{%extends "base.html"%}

{%block content%}

<center>



	<br>
	<br>

	<!-- <img src="{{url_for('static', filename='file.jpg')}}" alt="image" height=340px> -->
	<!-- {{url_for('static', filename='file.avi')}} -->
	<h2 class="text-danger">Predict Video-Caption</h2>	
	<video width="500" height="400" controls>
		<source src={{ url_for('static', filename="test.mp4" ) }} type="video/mp4">
		Your browser does not support the video tag.
	</video>

	<br>

	<main>
		<form class="input" id="voice-form" method="post">
			<div class="caption">
				<h2>{{data}}</h2>
			</div>
		</form>
	</main>

</center>

{%endblock%}